/*
 * Globals
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;500;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/*
 * Body
 */

:root {
  /* --primary-color: #54142a; */
  --primary-color: #662843;
  --secondary-color: #f4e8c1;
  --off-white: #f4f4f4;
}

body {
  height: 100%;
  background-color: var(--primary-color);
  color: var(--off-white);
  font-family: "Noto Serif JP", serif;
  scroll-behavior: smooth;
  padding-top: 56px;
  font-size: 1rem;
}

section {
  margin-top: -80px;
  padding-top: 80px;
}

section h2 {
  margin: 20px auto;
}

span {
  display: inline-block;
}

.btn-link {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* Cover Image */
#cover {
  width: 100%;
  margin: 0;
  padding: 0;
}

#cover img {
  width: 100%;
  display: block;
  height: auto;
}

/* Table */
.table {
  text-align: left;
  color: var(--off-white);
}

table th {
  width: 90px;
  text-align: center;
}

table tr:last-child {
  border-bottom: 1px solid var(--off-white);
}

/* Card */
.card {
  background-color: var(--primary-color);
  border: none;
}

.card-text {
  text-align: left;
}

/* Map */
.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 80.25%;
  position: relative;
}

.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: none;
}

/* Instagram Button */
.btn-sns {
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
  color: var(--off-white);
  border: none;
}

.btn-sns:hover {
  opacity: 0.9;
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: var(--primary-color);
}

.btn i {
  font-size: 1.2em;
}

/*
 * Footer
 */
.mastfoot {
  padding-top: 80px;
  text-align: center;
}